@model IEnumerable<CodingCraftHOMod1Ex2Scaffolding.Models.GrupoCategoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeGrupoCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeGrupoCategoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GrupoCategoriaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GrupoCategoriaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GrupoCategoriaId })
        </td>
    </tr>
}

</table>
